$eerie-black: #131515ff;
$jet: #2b2c28ff;
$persian-green: #339989;
$gray: #c9c9c9;
$snow: #fffafbff;

$color: var(--color);
$alt-color: var(--alt-color);
$background: var(--background);
$accent: var(--accent);

:export {
	accent: $persian-green;
}
