@import 'includes.scss';

:root {
	--eerie-black: #{$eerie-black};
	--jet: #{$jet};
	--persian-green: #{$persian-green};
	--gray: #{$gray};
	--snow: #{$snow};

	--color: var(--eerie-black);
	--alt-color: var(--jet);
	--background: var(--snow);
	--alt-background: var(--gray);
	--accent: var(--persian-green);

	@media (prefers-color-scheme: dark) {
		--color: var(--snow);
		--alt-color: var(--gray);
		--background: var(--eerie-black);
		--alt-background: var(--jet);
	}
}

html,
body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	max-width: calc(960px - 2rem);
	width: 100%;
	padding: 0 1rem 8rem;
	margin: 1rem auto;
	font-family: 'OpenSans', sans-serif;

	background: $background;
	color: $color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
	margin: 0.25em 0;
}

p,
ul,
ol {
	margin-block: 1rem;
}

ul {
	margin-inline-start: 1.5rem;
}
