.container {
	max-width: calc(960px - 2rem);
	width: 100%;
	padding: 0 1rem;
	margin: 1rem auto;
	min-height: calc(100vh - 2rem);

	display: grid;
	grid-template-areas: 'header' 'content' 'footer';
	grid-template-rows: auto 1fr 6rem;

	.content {
		grid-area: content;

		& > :first-child {
			margin-top: 0;
		}

		& > :last-child {
			margin-bottom: 0;
		}
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		> p {
			margin: 0.5em 0;
		}
	}
}
