@import 'styles/mixins';

.container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));

	@include medium-device {
		grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
	}

	@include large-device {
		grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	}
}
