@import 'styles/includes';

.container {
	--progress-height: 0.35rem;
	position: absolute;
	top: calc(-1 * var(--progress-height));
	width: 100%;
	height: var(--progress-height);

	background: rgba(0, 0, 0, 0.5);

	transition: 0.1s height, 0.1s top;

	display: flex;
	align-items: center;

	&[value] {
		-webkit-appearance: none;
		appearance: none;
		border: none;

		color: $accent;
	}

	&::-webkit-progress-bar {
		background-color: rgba(0, 0, 0, 0.2);
	}
	&[value]::-webkit-progress-value {
		background: $accent;
	}

	&:hover,
	&.hovering {
		--progress-height: 1.5rem;

		.inner {
			height: 100%;
		}
	}
}
