@import 'styles/includes';

.container {
	z-index: 2;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: '. videoState fullscreen';
	align-items: center;
	justify-items: center;

	.button.videoState {
		grid-area: videoState;
	}
	.button.fullscreen {
		grid-area: fullscreen;
	}

	color: white;

	@include medium-device {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.button {
		--dimension: 100%;
		width: var(--dimension);
		height: var(--dimension);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 4em;

		@include medium-device {
			--dimension: 3rem;
			font-size: 2em;
		}
	}

	user-select: none;

	.left,
	.right {
		display: flex;
		align-items: center;
	}
	.left {
		justify-content: flex-start;
	}
	.right {
		justify-content: flex-end;
	}
}
