@import 'styles/includes';

.container {
	display: flex;
	flex-wrap: wrap;

	color: $alt-color;
	gap: 0.5rem;

	font-size: 1rem;
	font-weight: normal;

	list-style: none;
	list-style-type: none;

	margin: 0;

	.slash {
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}
}
