.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&.season,
	&.show {
		.thumbnail {
			width: 100%;
			height: calc(100% * 2 / 3);

			position: relative;
		}
	}

	.episode .thumbnail {
		height: 100%;
		width: calc(100% * 9 / 16);
	}

	.title {
		font-weight: 600;
		margin: 0;

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		text-decoration: none;
	}
}
