.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.thumbnail {
		width: 100%;
		height: calc(100% * 2 / 3);

		position: relative;
	}

	.title {
		font-weight: 600;
		margin: 0;

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		text-decoration: none;
	}
}
