@import 'styles/mixins';

.container {
	.clips {
		gap: 1rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	}

	&.scroll .clips {
		@include small-device {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;

			flex-direction: row;

			overflow: auto;

			padding: 0 1rem;
			scroll-padding: 1rem;
			scroll-snap-type: x proximity;
			scroll-snap-align: start;
		}
		@include medium-device {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
		}
	}
}
