@import 'styles/includes';

.container {
	position: relative;
	background: black;
	overflow: hidden;

	display: flex;
	align-items: center;

	.controls {
		--height: 100%;

		height: var(--height);

		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 2;
		position: absolute;

		@include small-device {
			opacity: 0;
			visibility: collapse;
			transition: 0.1s opacity, 0s visibility 0.1s;
		}

		@include medium-device {
			--height: 3rem;
			bottom: calc(-1 * (var(--height) + 0.5rem));

			transition: 0.1s bottom;
		}
	}

	&.hovering .controls {
		@include small-device {
			opacity: 100;
			visibility: visible;
			transition: 0.1s opacity, 0s visibility 0s;
		}
		@include medium-device {
			bottom: 0px;
		}
	}

	.video {
		width: 100%;
		height: auto;

		background: black;
		position: relative;
		z-index: 1;
	}
}
