$height: 3rem;

.container {
	position: relative;
	background: black;
	overflow: hidden;

	display: flex;
	align-items: center;

	.controls {
		position: absolute;
		bottom: calc(-1 * #{$height});

		transition: 0.1s bottom;

		height: $height;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 100;
	}

	&.hovering .controls {
		bottom: 0px;
	}

	.video {
		width: 100%;
		height: auto;

		background: black;
		position: relative;
		z-index: 1;
	}
}

:export {
	height: $height;
}
